python-dotenv==1.0.1
structlog==24.1.0

langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.72

langchain-groq==0.3.6
langchain-google-genai==2.1.8
langchain-openai==0.2.10

langsmith==0.3.45

sentence-transformers==2.6.1
numpy==1.26.4
faiss-cpu==1.7.4

ipykernel==6.29.5
python-multipart==0.0.20
docx2txt==0.9

fastapi==0.115.6
uvicorn==0.32.1
Jinja2==3.1.4

openai==1.55.1
pandas==2.2.3
